<%= render ZclassicExplorerWeb.LayoutView, "header.html", assigns %>
<div class={bg_class(assigns)}>
  <%= @inner_content %>
</div>
<%= render ZclassicExplorerWeb.LayoutView, "footer.html", assigns %>
